<div class="display">
    <table class ="actuatorEntry">
        <tr>

            <td class="actuatorfield" id="OnField"><img src="images/but_on_active.png"></td>
            <td class="actuatorfield" id="OffFIeld"><img src="images/but_off_inactive.png"></td>
            <td class="actuatorfield" id="AutoField"><img src="images/but_auto_inactive.png"></td>
        </tr>
    </table>

</div>