<!-- main navigation, ID maybe useful as fragment identifier -->
<nav role="navigation" id="nav">
    <!-- heading useful in outline algorithm, but hidden in visual layouts -->
    <h2 class="hideme">Navigation</h2>

    <ul id="navlist">
        <li class="active"><a href="/">Startseite</a></li>


    <div class="menubutton">
        <a href="#menu" class="shownavlist">Menü</a>
        <a href="#nomenu" class="hidenavlist">Menü</a>
    </div>

</nav>