<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="stylesheets/styles.css" rel="stylesheet" media="all">

      <!--[if lt IE 9]>
      <script src="javascripts/html5shiv-printshiv.js" media="all"></script>
      <![endif]-->
  </head>

    {{{body}}}
  <footer role="contentinfo">

      <small>&copy; <time datetime="2013">2013</time> Oliver Böttger | <a href="#">Impressum</a></small>
      <p>

      </p>

      <ul class="socialmedia">
          <li><a href="#" class="genericon genericon-twitter"></a></li>
          <li><a href="#" class="genericon genericon-facebook-alt"></a></li>
          <li><a href="#" class="genericon genericon-googleplus"></a></li>
      </ul>

  </footer>
</html>
